@use '../abstracts/variables' as *;

.carousel {
  .carousel-inner {
    aspect-ratio: 4 / 3 !important;
    position: relative;

    @media ($md < width) {
      aspect-ratio: 16 / 6 !important;
    }
  }
}
